<p id="notice"><%= notice %></p>

<p>
  <strong>物件名：</strong>
  <%= @home.name %>
</p>

<p>
  <strong>賃料：</strong>
  <%= @home.price %>
</p>

<p>
  <strong>住所：</strong>
  <%= @home.address %>
</p>

<p>
  <strong>築年数：</strong>
  <%= @home.age %>
</p>

<p>
  <strong>備考：</strong>
  <%= @home.remarks %>
</p>

  <% @nearest_stations.each do |nearest_station| %>
    <% if @home.nearest_stations.any? %>
    <p>
      <strong>線路名：</strong>
      <%= nearest_station.route %>
    </p>

    <p>
      <strong>駅名：</strong>
      <%= nearest_station.station %>
    </p>

    <p>
      <strong>徒歩分数：</strong>
      <%= nearest_station.time %>
    </p>

<% end %>
<% end %>
<%= link_to 'Edit', edit_home_path(@home) %> |
<%= link_to 'Back', homes_path %>
